<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="doctorSessionInfo">
            <h2><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.detail.title">Doctor Session Info</span> {{doctorSessionInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.date">Date</span></dt>
                <dd>
                    <span>{{doctorSessionInfo.date}}</span>
                </dd>
                <dt><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.startTime">Start Time</span></dt>
                <dd>
                    <span>{{doctorSessionInfo.startTime}}</span>
                </dd>
                <dt><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.endTime">End Time</span></dt>
                <dd>
                    <span>{{doctorSessionInfo.endTime}}</span>
                </dd>
                <dt><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.interval">Interval</span></dt>
                <dd>
                    <span>{{doctorSessionInfo.interval}}</span>
                </dd>
                <dt><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.doctor">Doctor</span></dt>
                <dd>
                    <div *ngIf="doctorSessionInfo.doctorId">
                        <a [routerLink]="['/doctor', doctorSessionInfo.doctorId, 'view']">{{doctorSessionInfo.doctorId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/doctor-session-info', doctorSessionInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
