<div>
    <h2 id="page-heading">
        <span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.home.title">Doctor Session Infos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-doctor-session-info" [routerLink]="['/doctor-session-info/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.home.createLabel">
            Create new Doctor Session Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="doctorSessionInfos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startTime"><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.startTime">Start Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endTime"><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.endTime">End Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="interval"><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.interval">Interval</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="doctorId"><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctorSessionInfo.doctor">Doctor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let doctorSessionInfo of doctorSessionInfos ;trackBy: trackId">
                <td><a [routerLink]="['/doctor-session-info', doctorSessionInfo.id, 'view' ]">{{doctorSessionInfo.id}}</a></td>
                <td>{{doctorSessionInfo.date | date:'mediumDate'}}</td>
                <td>{{doctorSessionInfo.startTime | date:'medium'}}</td>
                <td>{{doctorSessionInfo.endTime | date:'medium'}}</td>
                <td>{{doctorSessionInfo.interval | date:'medium'}}</td>
                <td>
                    <div *ngIf="doctorSessionInfo.doctorId">
                        <a [routerLink]="['../doctor', doctorSessionInfo.doctorId , 'view' ]" >{{doctorSessionInfo.doctorId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/doctor-session-info', doctorSessionInfo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/doctor-session-info', doctorSessionInfo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doctor-session-info/'+ doctorSessionInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="doctorSessionInfos && doctorSessionInfos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
