<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contactInfo">
            <h2><span jhiTranslate="doctormicroserviceApp.doctormicroserviceContactInfo.detail.title">Contact Info</span> {{contactInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="doctormicroserviceApp.doctormicroserviceContactInfo.websiteURL">Website URL</span></dt>
                <dd>
                    <span>{{contactInfo.websiteURL}}</span>
                </dd>
                <dt><span jhiTranslate="doctormicroserviceApp.doctormicroserviceContactInfo.facebookURL">Facebook URL</span></dt>
                <dd>
                    <span>{{contactInfo.facebookURL}}</span>
                </dd>
                <dt><span jhiTranslate="doctormicroserviceApp.doctormicroserviceContactInfo.twitterURL">Twitter URL</span></dt>
                <dd>
                    <span>{{contactInfo.twitterURL}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact-info', contactInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
