<div>
    <h2 id="page-heading">
        <span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctor.home.title">Doctors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-doctor" [routerLink]="['/doctor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctor.home.createLabel">
            Create new Doctor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'doctormicroserviceApp.doctormicroserviceDoctor.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="doctors">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="specialisation"><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctor.specialisation">Specialisation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="location"><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctor.location">Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profileInfoId"><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctor.profileInfo">Profile Info</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contactInfoId"><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctor.contactInfo">Contact Info</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="doctorSettingsId"><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctor.doctorSettings">Doctor Settings</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="workspaceId"><span jhiTranslate="doctormicroserviceApp.doctormicroserviceDoctor.workspace">Workspace</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let doctor of doctors ;trackBy: trackId">
                <td><a [routerLink]="['/doctor', doctor.id, 'view' ]">{{doctor.id}}</a></td>
                <td>{{doctor.specialisation}}</td>
                <td>{{doctor.location}}</td>
                <td>
                    <div *ngIf="doctor.profileInfoId">
                        <a [routerLink]="['../profile-info', doctor.profileInfoId , 'view' ]" >{{doctor.profileInfoId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="doctor.contactInfoId">
                        <a [routerLink]="['../contact-info', doctor.contactInfoId , 'view' ]" >{{doctor.contactInfoId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="doctor.doctorSettingsId">
                        <a [routerLink]="['../doctor-settings', doctor.doctorSettingsId , 'view' ]" >{{doctor.doctorSettingsId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="doctor.workspaceId">
                        <a [routerLink]="['../workspace', doctor.workspaceId , 'view' ]" >{{doctor.workspaceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/doctor', doctor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/doctor', doctor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doctor/'+ doctor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="doctors && doctors.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
